<div class="container">
  <h1 class="display-4">Lists</h1>

  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list), class: "text-decoration-none" %></li>
    <% end %>
  </ul>

  <br>
  <%= link_to "Add New List", new_list_path(@list), class: "text-decoration-none" %>

  <%# <%= link_to "Add Restaurant", new_restaurant_path, class: "text-decoration-none" %>
</div>
