<div class="container">
  <h1 class="display-4">List Details</h1>
  <h2 class="display-6"><%= @list.name %></h2>
  <br>
  <%= link_to "Add New List", new_list_path(@list), class: "text-decoration-none" %>
  <br>
  <%= link_to "All Lists", lists_path, class: "text-decoration-none" %>
</div>
